tei-div {
  display: block;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

tei-p>tei-persName {
  font-weight: bold;
}

tei-p>tei-quote {
  font-style: italic;
}


tei-listBibl[type=Primärliteratur]{
  list-style-type: none;
}

tei-listBibl>tei-bibl {
  display: list-item;
}


tei-lb:before {
  white-space: pre;
  content: "\A";
}


tei-title {
  font-style: italic;
}
